*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
    margin: 5px 0px;
}
.center{
    width: max-content;
    margin: 20px auto;
}
body{
    width: 218.5vh;
    background-color: white;
}
header{
    width: 100%;
    min-height: 400px;
    background-color: #3161E0;
    color: white;
}
/* Inizio Nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    color: white;
}
#lista-nav li{
    display: inline;
    margin: 0px 10px;
}
ul li a{
    color: white;
    text-decoration: none;
}
.button-nav{
    background-color: white;
    border: none;
    padding: 7px;
    border-radius: 10px;
}
/* Fine Nav */

/* Inizio Header */
h1{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.paragraph{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.button-header1{
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px;
}
.button-header2{
    background-color: #23272A;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px;
}
/* Fine Header */

/* Inizio Section 1 del main */
.container{
    width: 70%;
    min-height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.partepiccola{
    width: 30%;
}
/* Fine section 1 del main */

/* Inizio Section 2 del main */
.container{
    width: 70%;
    min-height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.grigio{
    background-color: #F6F6F6;
}
/* Fine section 2 del main */

/* Inizio Section 3 del main */
.container{
    width: 70%;
    min-height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
/* Fine section 3 del main */

/* Inizio Section 4 del main */
.container-special{
    width: 70%;
    min-height: 580px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container-special > div, img, button{
    margin-top: 20px;
}
.container-special button{
    background-color: #8EA1E1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}
/* Fine section 4 del main */

/* Inizio footer */
footer{
    background-color: #23272A;
    min-height: 400px;
}
footer section{
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.partegrandefooter{
    width: calc((100% / 5) + 5%);
}
.partepiccolafooter{
    width: calc(100%/5);
    color: white;
}
.lilla{
    color: #7087D6;
}
hr{
    border-color: #3E4867;
    width: 80%;
    margin: auto;
}
#partefinalefooter{
    width: 80%;
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
